{% load static %}

<!DOCTYPE html>
<html lang="{{ language }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Robin Bisping</title>

    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>

<nav>
    {% for lang_code, lang in languages %}
        {% if lang_code == language %}
            <span>{{ lang }}</span>
        {% else %}
            <a href="{% url 'home' lang_code %}">{{ lang }}</a>
        {% endif %}
    {% endfor %}
</nav>

<main>
    <div id="about">
        {% if language == 'en' %}
            <img src="{% static 'robinbisping.jpg' %}" alt="Portrait of Robin Bisping">
        {% elif language == 'de' %}
            <img src="{% static 'robinbisping.jpg' %}" alt="Porträt von Robin Bisping">
        {% endif %}
        <h1>Robin Bisping</h1>
        <p>
            {% if language == 'en' %}
                <a href="mailto:contact@robinbisping.com">contact@robinbisping.com</a>
            {% elif language == 'de' %}
                <a href="mailto:kontakt@robinbisping.com">kontakt@robinbisping.com</a>
            {% endif %}
        </p>
    </div>
    <div id="description">
        <p>
            {% if language == 'en' %}
                I design <em>websites</em> and develop <em>applications</em>.
            {% elif language == 'de' %}
                Ich gestalte <em>Webseiten</em> und entwickle <em>Applikationen</em>.
            {% endif %}
        </p>
    </div>
</main>
</body>

</html>