{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Robin Bisping</title>

    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>

<nav>
    {% for language_code, language in LANGUAGES %}
        {% if language_code == LANGUAGE_CODE %}
            <span>{{ language }}</span>
        {% else %}
            <a href="{% url 'home' language_code %}">{{ language }}</a>
        {% endif %}
    {% endfor %}
</nav>

<main>
    <div id="about">
        <img src="{% static 'robinbisping.jpg' %}" alt="{% trans "Portrait of Robin Bisping" %}">
        <h1>Robin Bisping</h1>
        <p>
            <a href="mailto:contact@robinbisping.com">contact@robinbisping.com</a>
        </p>
    </div>
    <div id="description">
        <p>
            {% blocktrans trimmed %}
                I am a <em>computer science student</em>, who is interested in technology and journalism.
                I <em>build websites</em> and <em>develop applications</em>.
            {% endblocktrans %}
        </p>
    </div>
</main>
</body>

</html>