<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Robin Bisping is a computer science student, who is interested in technology and journalism. He builds websites and develops applications.">
    <meta name="keywords" content="Robin,Bisping">
    <meta name="author" content="Robin Bisping">

    <title>Robin Bisping</title>

    <link rel="stylesheet" href="../static/styles/main.css">
</head>

<body>
<main>
    <div id="about">
        <img src="../images/robinbisping.jpg" alt="Portrait of Robin Bisping">
        <h1>Robin Bisping</h1>
        <p>
            <a href="mailto:contact@robinbisping.com">contact@robinbisping.com</a>
        </p>
    </div>
    <div id="description">
        <p>
            I am a <em>computer science student</em>, who is interested in technology and journalism. In my spare time
            I <em>build websites</em> and <em>develop applications</em>.
        </p>
    </div>
</main>
</body>

</html>