html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    background-color: #eee;
    font-family: serif;
    line-height: 1.2;
    color: #333;
}
main {
    padding: 10px;
}
ul {
    margin: 0;
    padding: 0;
}
img {
    height: 200px;
    width: 200px;
    margin-bottom: 1rem;
}
h1 {
    margin: 0;
    font-size: 2rem;
}
li {
    margin-top: .75rem;
    list-style: none;
    font-size: 2rem;
    color: #aaa;
}
a {
    display: inline-block;
    margin-top: 2rem;
    text-decoration: none;
    color: #333;
}
a:hover, a:active, a:focus {
    text-decoration: underline;
}

@media (min-width: 600px) {
    body {
        align-items: center;
    }
    h1, li {
        font-size: 3rem;
    }
}

@media (min-width: 900px) {
    main {
        display: flex;
    }
    div {
        margin: 0 15px;
    }
    img {
        margin-top: 10px;
    }
}

@media (min-width: 1400px) {
    div {
        margin: 0 20px;
    }
    img {
        height: 250px;
        width: 250px;
        margin-top: 20px;
    }
    h1, li {
        font-size: 5rem;
    }
    a {
        margin-top: 3.5rem;
    }
}
