html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    font-family: 'Playfair Display', serif;
    line-height: 1.3;
    color: #333;
}

main {
    padding: 10px;
}

ul {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

li {
    list-style: none;
    font-size: 2rem;
    font-style: italic;
    color: #aaa;
}


@media (min-width: 600px) {
    body {
        line-height: 1.2;
    }

    h1, li {
        font-size: 3rem;
    }
}


@media (min-width: 1000px) {
    h1, li {
        font-size: 5rem;
    }
}
